/* reset */
body {
  font-family: 'Noto Sans Korean';
}

/* common */
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

.color-01 {
  color: #b9b9b9;
}
.color-01 a:hover,
.color-01 .active {
  color: #2c2c2c;
}
.color-02 {
  color: #858a99;
}
.color-02 a:hover,
.color-02 .active {
  color: #fff;
}
.color-04 {
  color: #ff2c55;
}

.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.cl {
  position: relative;
  margin: auto;
  width: 1200px;
  height: 100%;
}
.text span {
  display: block;
}

/* common 2 */
.luxlab-section {
  position: relative;
  width: 100%;
  /*height: 100vh;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.luxlab-section-container {
  position: absolute;
  width: 960px;
  height: 100%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  font-size: 70px;
  font-weight: 300;
  line-height: 1.09;
  margin-top: 0;
  margin-bottom: 90px;
}
.section-title-span {
  display: block;
  font-size: 33px;
  font-weight: 300;
  line-height: 1.61;
  margin-bottom: 17px;
}

.carousel-control-wrap {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}
.carousel-control-wrap a {
  display: block;
  height: 55px;
  clear: both;
  color: inherit;
  text-decoration: none;
}
.carousel-control-wrap a p {
  font-size: 25px;
  height: 57px;
  font-weight: lighter;
  line-height: 57px;
  margin-bottom: 35px;
}
.carousel-control-wrap .active p,
.carousel-control-wrap a p:hover {
  font-weight: 200;
}

.carousel-text-img {
  position: relative;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 47px;
  margin-right: 20px;
}

.phone-case-wrap {
  position: absolute;
  top: 51%;
  width: 300px;
  height: 650px;
  transform: translateY(-50%);
}
.phone-case {
  width: 100%;
  position: absolute;
  z-index: 100000;
}
.phone-screen-wrap {
  position: absolute;
  width: 95%;
  height: 89%;
  overflow: hidden;
  top: 35px;
  left: 10px;
  z-index: -1;
}


/* header */
.cl-header {
  position: relative;
  width: 1200px;
  margin: auto;
}
.luxlab-header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}
.luxlab-container-header {
  position: relative;
  width: 1200px;
  margin: auto;
}
.luxlab-logo {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

.header-navigation {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 17px;
  transform: translateY(-50%);
}

.header-navigation li {
  float: left;
  margin-left: 30px;
  list-style: none;
}

.header-navigation li a {
  color: black;
  text-decoration: none;
}

/* main */
.luxlab-section-main {
  background-image: url('../images/mainTop.jpg');
  height: 100vh;
  background-attachment: fixed;
}

.main-title {
  position: absolute;
  top: 21%;
  left: 32.3%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: 400;
  line-height: 0.78;
}
.main-title span {
  display: block;
  margin-top: 48px;
  font-size: 37px;
  font-weight: 100;
  line-height: 1.43;
  font-family: 'Noto Sans Korean';
  font-weight: normal;
}
.main-title > span > span {
  display: block;
  margin-top: 10px;
}

.luxlab-download-main {
  display: block;
  background-image: url('../images/download_black.png');
  background-repeat: no-repeat;
  border: 0;
  width: 280px;
  height: 120px;
  margin-top: 50px;
  background-position: center;
  background-size: contain;
}


/* sub 01 */
.luxlab-section-sub-01 {
  background-color: #fff;
  height: 990px;
}

.sub-01-title {
  font-size: 45px;
  color: #3b3b3b;
  line-height: 1.44;
  letter-spacing: -2.2px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 50px;
}

.sub-01-content {
  position: relative;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.27;
  letter-spacing: -1.3px;
  text-align: center;
  color: #6a6a6a;
  margin-bottom: 140px;
}
.sub-01-content-02 {
  position: relative;
  height: 100%;
  padding: 0;
  list-style: none;
}
.sub-01-content-02 img {
  height: 160px;
}
.sub-01-content-02 li {
  position: absolute;
  width: 33%;
  text-align: center;
  /*bottom: 0;*/
  top: 0;
}
.sub-01-content-02 li:first-child {
  left: 0;
}
.sub-01-content-02 li:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}
.sub-01-content-02 li:last-child {
  right: 0;
}
.sub-01-content-02 li h3 {
  font-size: 27px;
  font-weight: normal;
  line-height: 2.59;
  letter-spacing: -1.3px;
  color: #4e4e4e;
}
.sub-01-content-02 li p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.62;
  letter-spacing: -1px;
  color: #6a6a6a;
}

/* sub 02 */
.luxlab-section-sub-02 {
  background-color: #fff2f4;
  height: 990px;
}

.phone-1 {
  position: absolute;
  bottom: 0;

}
.video {
  position: absolute;
  width: 503px;
  bottom: -188px;
  left: 37px;
  opacity: 0.9;
}

.sub-02-content {
  position: absolute;
  top: 370px;
  right: 20px;
  text-align: center;
}
.sub-02-content img {
  margin-bottom: 5px;
}
.sub-02-content h3 {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -2.5px;
  color: #181818;
  margin-bottom: 60px;
}
.sub-02-content p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: -1px;
  color: #525252;
}

/* sub 03 */
.luxlab-section-sub-03 {
  height: 990px;
}

.luxlab-section-sub-03-01 {
  height: 270px;
}

.sub-03-content {
  position: absolute;
  top: 250px;
  text-align: center;
}
.sub-03-content img {
  margin-bottom: 5px;
}
.sub-03-content h3 {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -2.5px;
  color: #181818;
  margin-bottom: 60px;
}
.sub-03-content p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: -1px;
  color: #525252;
}
.luxlab-container {
  position: relative;
  margin: auto;
  width: 1200px;
  height: 100%;
}

.phone-2 {
  position: absolute;
  right: -115px;
}

/* sub 04 */
.luxlab-section-sub-04 {
  background-color: #fff2f4;
  height: 990px;
}

.phone-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sub-04-content {
  position: absolute;
  top: 315px;
  right: 10%;
  text-align: center;
}
.sub-04-content img {
  bottom: 5px;
}
.sub-04-content h3 {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -2.5px;
  color: #181818;
  margin-bottom: 60px;
}
.sub-04-content p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: -1px;
  color: #525252;
}


/* download */
.luxlab-section-download {
  background: #ff2c55;
  height: 120px;
}

.luxlab-section-download p {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 100px;
  font-size: 31px;
  line-height: 120px;
  height: 120px;
  letter-spacing: -1.5px;
  font-weight: 300;
  opacity: 1;
  color: rgba(255, 255, 255, 255);
}

/* .down-btn {
  float: left;
  width: 50%;
  height: 120px;
} */
/* .luxlab-download {
  display: block;
  background-image: url('../images/download_white.png');
  background-repeat: no-repeat;
  border: 0;
  width: 280px;
  height: 120px;
  background-position: center;
  background-size: contain;
} */
/* .luxlab-download:hover {
  background-image: url('../images/download_black.png');
  background-repeat: no-repeat;
  width: 280px;
  height: 120px;
} */

.download_btn {
  padding-top: 27px !important;
  height: 70px !important;
}

.download_and img {
  width: 250px !important;
}

.download_ios img {
  width: 250px !important;
}

.download_and {
  display: inline-block !important;
}

.download_ios {
  display: inline-block !important;
}

/* sub 05 */
.luxlab-section-sub-05 {
  background-color: #fcfcfc;
  box-sizing: border-box;
  padding: 20px;
}

.luxlab-section-sub-05 form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.luxlab-section-sub-05 form::after{
  display: block;
  content: "";
  clear: both;
}

.luxlab-section-sub-05 form h2 {
  text-align: center;
  font-size: 50px;
  /*line-height: 1.0;*/
  letter-spacing: -2.5px;
  color: #181818;
  margin-top: 100px;
  margin-bottom: 50px;
}

.luxlab-section-sub-05 p {
  text-align: center;
  margin-bottom: 70px;
  color: gray;
}

.luxlab-form-content {
  width: 50%;
  margin-left: 200px;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  height: 50px;
  border: 2px solid #e8e8e8;
  color: #000;
  float: left;
  margin-bottom: 30px;
}
.luxlab-form-content:focus {
  border: solid 2px #ff2d55;
  outline: none;
}
.luxlab-section-sub-05 form label {
  height: 50px;
  position: relative;
  width: 100%;
  font-size: 27px;
  letter-spacing: -1.3px;
  text-align: left;
  color: #181818;
  font-weight: 300;
  margin-bottom: 50px;
}
.luxlab-section-sub-05 form textarea {
  height: 170px;
}
.luxlab-section-sub-05 form button {
  padding: 0;
  border: 0;
  float: left;
  border-radius: 0 5px 5px 0;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 169px;
  background: url(../images/footer.jpg) no-repeat center;
  background-size: cover;
}

.footer-logo {
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.go-to-top-button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
